@media (max-width: 375px) {
.zagolovok {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-left: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 343px;
  font-style: normal;
}
.header {
  background-image:url(/img/Rectangle\ 1.jpg);
  width: 375px;
  height: 735px;
  background-size: cover;
  background-repeat: no repeat;
  background-position: top;
}
.text {
  font-weight: 300;
  font-style: normal;
font-size: 14px;
line-height: 22px;
padding-left: 16px;
padding-right: 16px;
width: 343px;
height: 66px;
text-align: center;
}
.button {
  display: flex;
  justify-content: center;
  margin-left: 70px;
}
.games {
  width: 343px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  margin-left: 16px;
  margin-right: 16px;
  padding-top: 128px;
 margin-bottom: 128px;
}
.gamer {
  background-image: url(/img/Rectangle\ 5.jpg);
  width: 375px;
  height: 1221px;
  background-size: cover;
  background-repeat: no repeat;
  background-position: center;
}
.game {
  width: 343px;
  height: 300px;
  padding-left: 16px;
}
.GameTitle {
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  padding-left: 66px;
  text-align: center;
  display: flex;
  align-items: center;
  font-style: normal;
  padding-right: 66px;
}
.gametext {
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  width: 343px;
  height: 66px;
  padding-left: 16px;
}

}